<h2 mat-dialog-title class="text-danger">Edit Receiver</h2>
<div may-dialog-content>
  <div class="container-fluid">
    hola mundo
  </div>
</div>

<div mat-dialog-actions>
  <button class="btn btn-primary btn-sm d-flex align-items-center" style="margin-right: 10px;">
    <mat-icon style="margin-right: 5px;">check</mat-icon>
    <span>Guardar</span>
  </button>
  <button class="btn btn-outline-danger btn-sm d-flex align-items-center" (click)="cerrar()">
    <mat-icon style="margin-right: 5px;">close</mat-icon>
    <span>Cerrar</span>
  </button>
</div>
