<h2 mat-dialog-title class="text-primary">Agregar productos</h2>
<hr>
<div may-dialog-content>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Buscar producto</mat-label>
            <input matInput [(ngModel)]="texto" (keypress)="validarAlphanumeric($event)">
            <button *ngIf="texto" matSuffix mat-icon-button aria-label="Clear" (click)="texto=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <div class="w-100">
            <mat-form-field appearance="legacy" class="w-100">
              <mat-label>Categoría</mat-label>
              <mat-select (selectionChange)="cargarProductos($event)">
                <mat-option *ngFor="let c of categoriasData.categoria" [value]="c.id">{{c.detalle}}</mat-option>
                <mat-option value="0">Todos</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div style="height: 350px; overflow: auto;" *ngIf="!controlProductos" class="d-flex align-items-center justify-content-center">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>

          <div *ngIf="controlProductos">
            <div style="height: 350px; overflow: auto;" *ngIf="productos.length > 0">
              <ul class="list-group">
                <li type="button" class="list-group-item list-group-item-action active d-flex justify-content-between"
                  aria-current="true">
                  <span>Productos disponibles</span>
                  <input type="checkbox" (change)="selectAll($event)" [checked]="isCheckedAll()">
                </li>

                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                  *ngFor="let p of productos">
                  <!-- <span>{{p.nombre}}</span>
                  <input type="checkbox" [(ngModel)]="p.checked" (change)="addProducto($event, p)"> -->
                  <div class="mr-1" style="margin-right: 8px;">
                    <img [src]="view('productos',p.producto.foto)" alt="" width="25px">
                  </div>

                  <div style="margin-right: 8px;" class="w-100 text-rigth d-flex flex-column">
                    <small>{{p.producto.nombre}}. </small>
                    <small class="text-primary" style="font-size: 10px;">Sotck ({{p.stock}})</small>
                  </div>

                  <input type="checkbox" [(ngModel)]="p.checked" (change)="addLista($event, p)">
                </li>

              </ul>
            </div>

            <div style="height: 350px; overflow: auto;" *ngIf="productos.length == 0">
              <ul class="list-group">
                <li type="button" class="list-group-item list-group-item-action bg-dark d-flex justify-content-between text-white"
                  aria-current="true">
                  <span>No hay productos disponibles</span>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-12 col-md-6">
          <ul class="list-group">
            <li type="button" class="list-group-item list-group-item-action active d-flex justify-content-between"
              aria-current="true">
              <span>Productos para agregar a la lista</span>
            </li>

            <li class="list-group-item list-group-item-action w-100"
            *ngFor="let p of lista">
            <div *ngIf="p.checked" class=" d-flex justify-content-between flex-column">
              <span>{{p.producto.nombre}}</span>
              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <label for="">Cantidad</label>
                  <input type="number" (keypress)="validateNumberWithDecimal($event)" class="form-control w-50"
                  placeholder="Cantidad" min="1" [(ngModel)]="p.cantidad">
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <label for="">Precio de compra</label>
                  <input type="number" (keypress)="validateNumberWithDecimal($event)" class="form-control w-50"
                  placeholder="Precio de compra" min="1" [(ngModel)]="p.producto.precio_compra">
                </div>
              </div>
            </div>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button class="btn btn-primary btn-sm d-flex align-items-center" style="margin-right: 10px;"
  [disabled]="lista.length == 0" (click)="pasarLista()">
    <mat-icon style="margin-right: 5px;">check</mat-icon>
    <span>Agregar</span>
  </button>
  <button class="btn btn-outline-danger btn-sm d-flex align-items-center" (click)="cerrar()">
    <mat-icon style="margin-right: 5px;">close</mat-icon>
    <span>Cerrar</span>
  </button>
</div>
