/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

a, p, small, span, button{
  font-family: 'Comfortaa', cursive;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.b1 {
  border: 1px solid red;
}

.text-red {
  color: #f56565;
}

.active-link {
  border-left: 5px solid #a51bb2;
}

.text-gray{
  color: #495057 !important;
}

.active-link-secundary {
  color: #cd16a3 !important;
  border-bottom: 2px solid #b3a7b0;
}

input{
  outline: none;
  background-color: #dfe;
  border: 0;
}

.text-rose{
  color: #ff0080;
}

input[type=email],
input[type=password],
input[type=number],
input[type=text], textarea{
    border: 0px solid #fff;
    outline: none;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,.42) ;
    border-radius: 0px;
    font-family: 'Comfortaa', cursive;
}

.d-none{
  display: none;
}

.t-hover{
  transition: all 0.5s ease-in-out;
}

.t-hover:hover{
  background-color:  #a51bb2;
  color: #fff;
}
