<div class="example-sidenav-content">
  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    <app-nav [ubicacion]="'Sucursales'"></app-nav>

    <nav class=" navbar-expand-lg">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar scroll</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          (click)="more =! more"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <mat-icon *ngIf="!more">expand_more</mat-icon>
          <mat-icon *ngIf="more">expand_less</mat-icon>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarScroll">
          <ul class="text-center navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll d-flex justify-content-center"
            style="--bs-scroll-height: 100px; text-align: center !important; margin:auto">
            <li class="" let i=index; *ngFor="let p of menusChildren.data">
              <a class="nav-link link text-gray" aria-current="page" [routerLink]="p.url"
                routerLinkActive="active-link-secundary" style="text-decoration: none; cursor: pointer;">{{ p.menu
                }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="mt-4">
      <router-outlet></router-outlet>
      <!-- <div class="card-body">
      </div> -->
    </div>
  </main>
</div>
